.dashboard-container
{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 2rem;

  user-select: none;
  padding: 2rem;
  margin-bottom: 1rem;
}
.dashboard-cards
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-auto-rows: max-content;
  gap: 2rem;
}