.footer
{
  width: 100%;
  padding: 1.5rem;
  line-height: 2rem;
  background-color: var(--bg-card);
  .attribution a
  {
    color: var(--link-color);
    text-decoration: none;
    &:hover
    {
      color: var(--link-color-hover);
      text-decoration: underline;
    }
    &:active
    {
      color: var(--link-color-active);
    }
    &:visited
    {
      color: var(--link-color-visited);
    }
  }
}