:root
{
  --bg-body: #0f1424;
  --bg-card: #1c1f4a;
  --bg-card-hover: #34397B;
  --bg-header: #5746EA;
  --bg-back: #ff8c66;
  
  --text-color: #bdc1ff;
  --text-color-hover: #f4f4f4db;
  --text-color-active: #fff;
  --link-color: #5746EA;
  --link-color-hover: #5344dd;
  --link-color-active: #372c92;
  --link-color-visited: #449dba;
  
// * cards
  --work: #ff8c66;
  --play: #56c2e6;
  --study: #ff5c7c;
  --exercise:#4acf81;
  --social:#7536d3;
  --self-care:#f1c65b;
}